.p1{
  background-color: skyblue;
}
.p2{
  background-color: #FF729F;
}
.p3{
  background-color:  #07A0C3;
}
.p4{
  background-color: pink;
}
.p5{
  background-color: #8D99AE;
}
.p6{
  background-color: plum;
}
ul li{
  border-style: solid;
  border-color: black;
  background-color: yellow;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
  position: relative;
  right: 100px;
}
.logo{
  text-align: center;
  font-size: 60px;
  font-family: 'Acme', sans-serif;
}
nav{
  margin-left: 200px;
}
.home{
  text-align: center;
  font-size: 30px;
  font-family: 'Days One', sans-serif;
  color: black;
}
#shaz{
  margin-left: 390px;
}
#shamz{
  margin-left: 350px;
}
.personal{
  border-color: black;
  width: 800px;
  border-style: solid;
  text-align: center;
  font-size: 25px;
font-family: 'Days One', sans-serif;
  margin-left: 240px;
  background-color: white;
}
footer{
  text-align: center;
  background-color: yellow;
}
h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Acme', sans-serif;
}
#xul{
  margin-left: 690px;
  position: relative;
  top: -800px;
}
.info{
  font-size: 30px;
  font-family: 'Days One', sans-serif;
  border-color: black;
  width: 50%;
  border-style: solid;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 60px;
  color: white;
  background: black;
  font-family: 'Acme', sans-serif;
}
h3{
  font-size: 35px;
  color: black;
  font-family: 'Acme', sans-serif;
  background: white;
}
article{
  font-size: 30px;
  color: black;
  text-align: center;
font-family: 'Days One', sans-serif;
}
.work{
  background-color: white;
  width: 800px;
  margin-left: 240px;
}
.house{
  background-color: pink;
}
.car{
  background-color: orange;
}
.family{
  background-color: skyblue;
}
.children{
  background-color: yellow;
}
.family-car{
  background-color: #CF00CF;
}
input {
  padding: 7px;
}
video{
  margin-left: 190px;
}
img{
  margin-left: 150px;
}
h4{
  font-size: 40px;
  background: black;
  color: white;
  font-family: 'Acme', sans-serif;
}
.form{
  border: 3px solid black;
  font-size: 30px;
  width: 30%;
}
.social{
  display: inline;
  text-align: center;
  font-size: 40px;
}
h5{
  text-align: center;
  font-size: 50px;
  background: black;
  color: white;
  font-family: 'Acme', sans-serif;
}
#cpic{
  float: right;
  position: relative;
  bottom: -30px;
  margin-right: 150px;
}
.fa-whatsapp:hover{
    font-size: 60px;
  background-color: green;
  color: white;
}
.fa-facebook:hover {
    font-size: 60px;
  background: #3B5998;
  color: white;
}
.fa-twitter:hover{
    font-size: 60px;
  background: #55ACEE;
  color: white;
}
.fa-snapchat:hover{
    font-size: 60px;
background: #FFFC00;
color: black;
}
.fa-instagram:hover{
  font-size: 60px;
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.no{
  color: white;
  background: black;
  font-size: 60px;
}
.edu{
  background: black;
  color: white;
}
h6{
  text-align: center;
  font-size: 60px;
  background: black;
  color: white;
  font-family: 'Acme', sans-serif;
}
.myname{
  text-align: center;
  font-size: 40px;
}
.dreams{
  font-size: 60px;
  text-align: center;
  background: black;
  color: white;
}
#demo{
  text-align: left;
  font-size: 20px;
}
